# Did Ordered Labeled DataSet Affect accuracy?

- Order labeled, from 0 to 9
- Train Model
- Accuracy is still high

In [14]:
from __future__ import print_function
import keras
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D
from keras import backend as K

batch_size = 128
num_classes = 10
epochs = 12

# input image dimensions
img_rows, img_cols = 28, 28

# the data, split between train and test sets
(x_train, y_train), (x_test, y_test) = mnist.load_data()

if K.image_data_format() == 'channels_first':
    x_train = x_train.reshape(x_train.shape[0], 1, img_rows, img_cols)
    x_test = x_test.reshape(x_test.shape[0], 1, img_rows, img_cols)
    input_shape = (1, img_rows, img_cols)
else:
    x_train = x_train.reshape(x_train.shape[0], img_rows, img_cols, 1)
    x_test = x_test.reshape(x_test.shape[0], img_rows, img_cols, 1)
    input_shape = (img_rows, img_cols, 1)

x_train = x_train.astype('float32')
x_test = x_test.astype('float32')
x_train /= 255
x_test /= 255
print('x_train shape:', x_train.shape)
print(x_train.shape[0], 'train samples')
print(x_test.shape[0], 'test samples')

x_train shape: (60000, 28, 28, 1)
60000 train samples
10000 test samples

In [12]:
import pandas as pd


df = pd.DataFrame(x_train.reshape( (x_train.shape[0], 28 * 28 * 1) ))
df.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
df['y'] = y_train
df.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,y
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9

In [20]:
df = df.sort_values(by=['y']).reset_index(drop=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,y
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [25]:
x_train = df[[i for i in range(28 * 28)]].values.reshape( (-1, img_rows, img_cols, 1) )
x_train.shape

(60000, 28, 28, 1)

In [27]:
y_train = df['y'].values

In [28]:
# convert class vectors to binary class matrices
y_train = keras.utils.to_categorical(y_train, num_classes)
y_test = keras.utils.to_categorical(y_test, num_classes)

In [29]:
model = Sequential()
model.add(Conv2D(32, kernel_size=(3, 3),
                 activation='relu',
                 input_shape=input_shape))
model.add(Conv2D(64, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.25))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(num_classes, activation='softmax'))

model.compile(loss=keras.losses.categorical_crossentropy,
              optimizer=keras.optimizers.Adadelta(),
              metrics=['accuracy'])

In [30]:
model.fit(x_train, y_train,
          batch_size=batch_size,
          epochs=epochs,
          verbose=1,
          validation_data=(x_test, y_test))
score = model.evaluate(x_test, y_test, verbose=0)
print('Test loss:', score[0])
print('Test accuracy:', score[1])

Train on 60000 samples, validate on 10000 samples
Epoch 1/12
60000/60000 [==============================] - 75s 1ms/step - loss: 0.2645 - accuracy: 0.9185 - val_loss: 0.0664 - val_accuracy: 0.9795
Epoch 2/12
60000/60000 [==============================] - 72s 1ms/step - loss: 0.0885 - accuracy: 0.9735 - val_loss: 0.0457 - val_accuracy: 0.9851
Epoch 3/12
60000/60000 [==============================] - 74s 1ms/step - loss: 0.0653 - accuracy: 0.9805 - val_loss: 0.0361 - val_accuracy: 0.9879
Epoch 4/12
60000/60000 [==============================] - 71s 1ms/step - loss: 0.0536 - accuracy: 0.9837 - val_loss: 0.0300 - val_accuracy: 0.9898
Epoch 5/12
60000/60000 [==============================] - 72s 1ms/step - loss: 0.0476 - accuracy: 0.9859 - val_loss: 0.0305 - val_accuracy: 0.9899
Epoch 6/12
60000/60000 [==============================] - 72s 1ms/step - loss: 0.0421 - accuracy: 0.9868 - val_loss: 0.0276 - val_accuracy: 0.9917
Epoch 7/12
60000/60000 [==============================] - 72s 1ms/step - loss: 0.0387 - accuracy: 0.9886 - val_loss: 0.0294 - val_accuracy: 0.9914
Epoch 8/12
60000/60000 [==============================] - 70s 1ms/step - loss: 0.0344 - accuracy: 0.9895 - val_loss: 0.0280 - val_accuracy: 0.9913
Epoch 9/12
60000/60000 [==============================] - 71s 1ms/step - loss: 0.0323 - accuracy: 0.9903 - val_loss: 0.0249 - val_accuracy: 0.9915
Epoch 10/12
60000/60000 [==============================] - 73s 1ms/step - loss: 0.0304 - accuracy: 0.9906 - val_loss: 0.0274 - val_accuracy: 0.9910
Epoch 11/12
60000/60000 [==============================] - 74s 1ms/step - loss: 0.0285 - accuracy: 0.9911 - val_loss: 0.0281 - val_accuracy: 0.9910
Epoch 12/12
60000/60000 [==============================] - 71s 1ms/step - loss: 0.0272 - accuracy: 0.9915 - val_loss: 0.0288 - val_accuracy: 0.9914
Test loss: 0.028753131960527936
Test accuracy: 0.9914000034332275